.profile{
    background-color: #F2F2F2;
    padding: 40px 80px;
}
.profile .profile-title{
    padding-bottom: 20px;
    color: #FA8B91;
}
.profile p{
    color: #797979;
    font-weight: lighter;
}
.profile-para{
    font-size: 17px;
}
.profile-cv{
    text-align: center;
}
.cv-button{
    background-color: #FA8B91;
    color: #797979;
}
.column-profile{
    float: left;
    width: 50%;
    padding:  -40px 10px;
    display: inline-block;
    align-items: center;
}
.column-profile img{
    width: 400px;
    margin: 0 auto;
    display: block;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
@media (max-width: 700px) {
    .column-profile{
        width: 100%;
        padding: 20px 20px;
        text-align: center;
    }
    .column-profile img{
        width: 300px;
    }
}

@media (max-width: 450px) {
    .column-profile img{
        max-width: 200px;
    }
}
