.projects{
    background-color: #000000;
    padding: 30px;
    text-align: center;
}
.projects h1{
    color: #FFFFFF;
    padding-bottom: 10px;
}
.projects h5{
    padding-left: 20px;
}
.projects .buttons{
    padding: 20px;
}
.buttons .github{
    background-color: transparent;
    padding: 10px 20px;
    border: 2px solid #ffffff;
    border-radius: 15px;
    color: #FFFFFF;
}
.buttons .github:hover{
    background-color: #FFFFFF;
    color: #FA8B91;
}
.buttons .all-projects{
     background-color: #FA8B91;
     padding: 10px 20px;
     border-radius: 15px;
     color: #FFFFFF;
 }
.buttons .all-projects:hover{
    box-shadow: 0 20px 25px -15px rgba(0, 0, 0, 0.3);
}
.projects div .col{
    float: left;
    width: 33%;
    text-align: center;
    padding: 20px 20px 10px;
}
.projects div .col:hover h3{
    color: #797979;
}
.projects h3{
    color: #FA8B91;
    padding-left: 15px;
}
.projects .card-img-top{
    width: 100%
}
.projects .card{
    background-color: #FFFFFF;
}
.projects .card-body{
    padding: 20px;
}
.projects .card-text{
    font-size: 50px;
    color: #000000;
}
@media (max-width: 700px){
    .projects div .col{
        width: 100%;
        text-align: center;
        padding: 20px 0 10px;
    }
}

@media (max-width: 520px) {
    .buttons .github, .buttons .all-projects{
        margin: 5px;
        position: relative;
        display: inline-block;
    }
}
