.card__image--vinder {
    background-image: url(https://c1.staticflickr.com/5/4867/31422869917_e9e10c37f1_b.jpg);
}

.card__image--surplus {
    background-image: url(https://c2.staticflickr.com/2/1851/43780645044_118ea1e66a_b.jpg);
}

.card__image--waterwatch {
    background-image: url(https://c2.staticflickr.com/2/1884/44498539521_1f8d142b70_b.jpg);
}

.card__image--artblog {
    background-image: url(https://c2.staticflickr.com/2/1859/43781246544_8bbdc9994f_b.jpg);
}
